@font-face {
    font-family: 'Saiyan Sans';
    src: url('font/Saiyan-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'one-piece';
    src: url('font/one-piece-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Réinitialiser les marges et le padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Carrousel pleine page */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Supprime les barres de défilement */
    background-color: #e76a24;
    color : #fff;
    background-attachment: fixed;
}

.toggle-container {
	text-align: center;
    position: fixed;
    top: 10px;
    right: 15px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0b3075;
	transition: 0.3s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #e76a24;
	transition: 0.3s;
	border-radius: 50%;
}

.switch-icon {
    position: absolute;
    pointer-events: none; /* Assure que le SVG ne bloque pas les clics */
	left: 5px;
	bottom: 5px;
    width: 24px; /* Ajuste la taille du SVG selon tes besoins */
    height: 24px;
    transition: transform 0.3s, opacity 0.3s;
    user-select: none;
}

.dbz-icon {
    opacity: 1;
}

.op-icon {
    clip-path: circle(50%); /* Masque les parties de l'image qui dépassent du cercle */
    opacity: 0;
}

input:checked + .slider:before {
	background-color: #0b3075;
    transform: translate3d(26px, 0, 0); /* Ajuste selon la largeur du slider */
}

input:checked + .slider .dbz-icon {
    opacity: 0;
    transform: translate3d(26px, 0, 0);
}

input:checked + .slider .op-icon {
    opacity: 1;
    transform: translate3d(26px, 0, 0);
}

body.op-mode {
    will-change: background-color;
	background-color: #0b3075; /* other possibility : #084DA6*/
}

.op-mode input:checked + .slider {
	background-color: #e76a24;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.caroussel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 95%;
    list-style: none;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    padding: 0px 40px;
    height: 100%;
}

.left>.infos {
    opacity : 0;
    transform: translate3d(15%, 0, 0);
    transition: none;
}

.left>.date>span {
    opacity: 0;
    transform: translate3d(15%, 0, 0);
}

.slide.active>.left>.date>span{
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.slide.shiftleft>.left>.infos, .slide.shiftleft>.left>.date>.transition{
    transition: none; 
    transform: translate3d(-15%, 0, 0);
    z-index: 0;
}

.slide.previousleft>.left>.infos, .slide.previousleft>.left>.date>.transition {
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; /* Animation de l'image mais que pour l'apparition */
    transform: translate3d(-15%, 0, 0);
    opacity: 0;
}

.slide.previousright>.left>.infos, .slide.previousright>.left>.date>.transition {
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; /* Animation de l'image mais que pour l'apparition */
    transform: translate3d(15%, 0, 0);
    opacity: 0;
}

.slide.active>.left>.infos, .slide.active>.left>.date>.transition {
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; /* Animation de l'image mais que pour l'apparition */
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
 
.title-header {
    width : 100%;
    display: flex;
    align-items: center;     /* Aligne l'image et le texte verticalement */
    margin-bottom: 15px;
    flex: 0 0 15%; /* Prend 30% de la hauteur */
}

.pane-index {
    margin-right: 10px;      /* Espace entre l'image et le texte */
    height : 50px;
    width : 50px;
}

#round-film-red {
    border-radius: 5px;
}

.dbz .title {
    font-family: 'Saiyan Sans', sans-serif;
    font-size: 50px;
    word-spacing: -20px; /* Réduit l'espace entre les mots */
}

.op .title {
    font-family: 'one-piece', sans-serif;
    font-size: 50px;
    word-spacing: -5px; /* Réduit l'espace entre les mots */
}

.resume{
    width: 100%;
    flex: 0 0 60%; /* Prend 50% de la hauteur */
    overflow-y: hidden; /* Ajoutez un défilement si le texte dépasse la hauteur définie */
    font-size: 1.5rem;
}

.date{
    width: 100%;
    flex: 0 0 25%; /* Prend 20% de la hauteur */
    display: flex;
    align-items: center; /* Centrer verticalement la date */
    justify-content: center;
    font-size: 150px;
    padding-top:0;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    height: 100%;
    overflow: hidden; /* S'assure que l'image n'est pas visible en dehors de ce conteneur */
}

.right img {
    display : flex;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    transition : none;
    transform: translateX(100%);
    overflow: hidden;
}

.slide.shiftleft>.right img{
    transition: none; 
    transform: translate3d(-100%, 0, 0);
    z-index: 0;
}

.slide.previousleft>.right img{
    transition: transform 300ms ease-in-out;
    transform: translate3d(-100%, 0, 0);
    z-index: 0;
}

.slide.previousright>.right img{
    transition: transform 300ms ease-in-out;
    transform: translate3d(100%, 0, 0);
    z-index: 0;
}

.slide.active>.right img{
    transition: transform 300ms ease-in-out;
    transform: translate3d(0%, 0, 0);
    z-index: 1;
}

.selection {
    width: 85%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    cursor: pointer;
}

.arrow.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.left-arrow {
    margin-right: 20px;
}

.right-arrow {
    margin-left: 20px;
}

.selection svg {
    fill: #0b3075;
}

.op-mode.selection svg {
    fill: #e76a24;
}

.dots {
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: #0b3075; /* Couleur de base du point */
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #0b3075;
    position: relative;
}

/* Lignes grises entre les points */
.dot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -253px;
    width: 252px;
    height: 6px;
    background-color: #0b3075;
    transform: translateY(-50%);
    z-index: 0;
}

.op-mode .dot::before, .op-mode .dot {
    background-color: #e76a24; /* Même couleur que la dot */
    border-color: #e76a24;
}

.dot:first-child::before {
    display: none;
}

/* Lignes colorées qui se remplissent */
.dot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -254px;
    width: 0;
    height: 2px;
    background-color: #e76a24;
    transform: translateY(-50%);
    transform-origin: left;
    z-index: 1;
    transition: width 0.15s ease-in-out;
}

.op-mode .dot::after {
    background-color: #0b3075; /* Même couleur que la dot */
}

.dot.active::after {
    width: 254px;
}

.dot:not(.active)::after {
    transition-delay: 0.15s;
}

/* Pas de ligne avant le premier point */
.dot:first-child::after {
    display: none;
}

/* Remplissage progressif du cercle avec .fill */
.dot .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e76a24; /* Même couleur que la dot */
    border-radius: 50%;
    clip-path: inset(0 100% 0 0); /* Remplissage de gauche à droite */
    z-index: 2;
    transition: clip-path 0.15s ease-in-out;
}

.op-mode .dot .fill {
    background-color: #0b3075; /* Même couleur que la dot */
}

/* Remplir le cercle lorsque actif */
.dot.active .fill {
    clip-path: inset(0 0 0 0); /* Remplir complètement le cercle */
    transition-delay: 0.15s; /* Synchronisé avec la ligne */
}
